body,html {
  background-attachment: fixed;
  background-size: contain;
  font-family: 'Poppins',sans-serif !important;
  /* background-color: #ffffe0; */
}

#root {
  padding: 0px !important;
  margin: 0 !important;
  font-family: 'Poppins',sans-serif !important;
}
#root > .MuiContainer-root {
  padding: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  font-family: 'Poppins',sans-serif !important;  
}

#root > .MuiContainer-maxWidthLg {
  max-width: 14208px !important;
  font-family: 'Poppins',sans-serif !important;
}
.makeStyles-appBarSpacer-2 {
  min-height: 44px !important;
  font-family: 'Poppins',sans-serif !important;
}
 .makeStyles-appBar-1 {
  background-color: none !important;
}
.MuiAppBar-colorPrimary {
  background-color: rgba(255, 0, 0, 0) !important;
}

.MuiContainer-root > .MuiPaper-elevation4 {
  box-shadow: none !important;
}

.makeStyles-appBarSpacer-2{
  display: none;
}

.makeStyles-mainContainer-23 {
  padding-top: 50px;
}

.custom_color{
  color: rgb(47, 72, 88);;
}

.MuiAvatar-colorDefault {
  background-color: #e8aa42 !important;
}
/* developed by css */
.react-multi-carousel-track {
  margin: auto;
}

.MuiContainer-root div:nth-child(3){
  /* padding-top: 77px !important; */
}
.banner-quote{
  top: 56%;
  left: 15%;
  color: black;
  z-index: 6;
  position: absolute;
  font-size: 5px;
  transform: translate(-2%,-60%);
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.shop-name{
  background: -webkit-linear-gradient(#e73426, #e85a4f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
    letter-spacing: 1px;
}